@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Sidebar scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}

/* Code block horizontal scrollbar */
pre::-webkit-scrollbar {
  height: 5px;
}
pre::-webkit-scrollbar-thumb {
  background: #3f3f46;
}

/* Table border */
.prose table {
  width: 100%;
  border-collapse: collapse;
}
.prose th,
.prose td {
  border: 1px solid #27272a;
  padding: 0.5rem 0.75rem;
}
.prose th {
  background-color: #18181b;
}
